
.container{
    grid-template-columns: 100%;
}


.cardsHistory{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.cardHistory{
    border: 1px solid;
    min-height: 10em;
}

.hidde{
    display: none;
}






