
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --color-background: #8c4af2;
}

body{
    position: relative;
}


.mainContainer{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    height: 100%;
    max-width: 100vw;
    background: #f1f2ff;
    padding-left: 13em;
}

.navbar{
    background-color: var(--color-background);
    padding: 1em;
    color: white;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 12em;
    z-index: 2;
}

.navbar h1{
    text-align: center;
}

.navbar .closeBurguer{
    display: none;
    position: absolute;
    right: -1em;
    top: 1em;
    height: 3em;
    width: 3em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}

.optionsNav{
    list-style: none;
}

.optionsNav li{
    margin-block: 1.5em;
    padding: .5em;
    display: flex;
    align-items: center;
    gap: .7em;
}

.optionsNav li svg{
    fill:white;
}

.optionsNav li svg path{
    stroke: white;
}

.optionsNav li:hover{
    cursor: pointer;
    background-color: rgb(211, 211, 211);
    border-radius: 1em;
    color: black;
}

.optionsNav li:hover svg {
    fill: black;
}

.optionsNav li:hover svg path {
    stroke: black;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3em 1fr;
    max-width: 100%;
    gap: 1em;
    position: relative;
}

.greet{
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f2ff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.greet button{
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.greet div{
    display: flex;
    align-items: center;
    gap: 2px;
}

.greet .saludo{
    color: #8c4af2;
    font-weight: bolder;
}

.greet input{
    border: none;
    background: white;
    outline: none;
    padding-inline: 5px;
    border-radius: 5px;
    height: 2em;
    width: 18em;
}

.greet img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    object-fit: cover;
}

.showDishes{
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7em 8em 15em 1fr;
}

.showDishes .offers img{
    width: 100%;
    height: 7em;
    object-fit: cover;
    border-radius: 1em;
}

.showDishes .categories{
    display: flex;
    gap: 1em;
    grid-column: 1/-1;
    overflow-x: auto;
    scrollbar-width: none;
    margin-block: .5em;
    padding: .5em;
    /*mask-image: linear-gradient(to right, rgba(0,0,0,0), black 20%, black 80%, rgba(0,0,0,0));*/
    mask-image: linear-gradient(to left, rgba(0,0,0,0), black 20%);
}

.showDishes .categories::-webkit-scrollbar{
    display: none;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    padding-inline: 1em;
    border-radius: 1em;
    gap: 2px;
    width: 20em;
    cursor: pointer;
    user-select: none;
}

.categories .category img{
    width: 4em;
    height: 4em;
}

.popularDishes{
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.popularDishes .containerPopular{
    display: flex;
    gap: 1em;
    overflow-x: auto;
    scrollbar-width: none;
}

.containerPopular .popular{
    height: 13em;
    width: 13em;
    border: 1px solid black;
    border-radius: .5em;
    flex-shrink: 0;
}

.imageCard{
    height: 8.5em;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    aspect-ratio: 1/1;
}


.popular > span{
    padding-inline: .5em;
}

.popular .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .5em;
}

.popular .more .details{
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.more button{
    width: 2em;
    height: 2em;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls span{
    font-weight: bolder;
    color: #8c4af2;
}

.controls button{
    border: none;
    color: #8c4af2;
    background: #fff;
    padding-inline: 3px;
    padding-block: 1px;
}


.containerAll{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    width: 100%;
    /*will-change: transform;
    contain: strict;*/
}

.dish{
    border: 1px solid black;
    border-radius: .5em;
    min-height: 12em;
    min-width: 10em;
    /*backface-visibility: hidden;
    transform: translateZ(0);*/
}


.dish .more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

.dish .more .details{
    display: flex;
    flex-direction: column;

}

.purchase{
    grid-row: 2 / -1;
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: .5em;
}




.purchase .addressCard{
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.purchase .addressCard > span{
    color: rgb(114, 114, 114);
}

.purchase .addressCard div{
    display: flex;
    align-items: center;
    gap: .5em;
}

.purchase .addressCard .addressIcon{
    width: 1em;
    height: 1em;
}

.purchase .addressCard .changeAddress{
    width: 5em;
    height: 2em;
    padding: .5em;
    border-radius: .5em;
    border: none;
    color: white;
    background: #8c4af2;
    margin-left: auto;
}


.purchase .orderMenu{
    display: flex;
    flex-direction: column;
    background: white;
    gap: .7em;
    padding-top: 1em;
    border-radius: 1em;
}

.purchase .orderMenu .orderItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .5em;
    padding-inline: 1em;
}

.infOrder{
    display: flex;
    gap: .5em;
}

.infOrder .numMesa{
    height: 2em;
}

.orderMenu .padding{
    padding-left: 1em;
}

.orderMenu .orderItem img{
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 1em;
}

.orderMenu .orderItem .addQuantity{
    display: flex;
    align-items: center;
    gap: .5em;
}

.orderMenu .orderItem .addQuantity button{
    border: none;
    background: rgba(114, 114, 114, 0.8);
    color: white;
    width: 2em;
    height: 2em;
    border-radius: .3em;
    cursor: pointer;
}

.orderMenu .totalOrder{
    display: flex;
    justify-content: space-between;
    padding-inline: 1em
}


.orderMenu .pay{
    padding-inline: auto;
    background: #8c4af2;
    color: white;
    font-weight: 900;
    border-radius: 0 0 1em 1em;
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.orderMenu .pay img{
    width: 2em;
    height: 2em;
}

.shadows{
    position: absolute;
    top: 0;
    bottom: 0;
    background: #8d4af239;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

@media screen and (min-width:901px){
    .navbar{
        display: block !important;
    }
}

@media screen and (max-width:900px) {
    .navbar{
        display: none;
    }

    .mainContainer{
        padding-inline: 1em;
    }


    .greet button{
        display: inline;
    }

    .navbar .closeBurguer{
        display: block;
    }

    .purchase{
        display: none;
    }

    .showDishes{
        grid-column: 1 / -1;
    }
    
    .containerAll{
        grid-template-columns: 1fr 1fr;
    }
}


