
.formPasswordContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255,0.5);
    box-shadow: 0 1em 2em rgba(0,0,0,0.1);
    text-align: center;
    width: 20em;
    padding: 1em;
    margin-bottom: 5em;
}


.formPasswordContainer form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-inline: 1em;
}

.formPasswordContainer form input{
    height: 3em;
    border-radius: 1em;
    outline: none;
    border: none;
}

.formPasswordContainer form input[type=email]{
    padding-left: 1em;
}

.formPasswordContainer form input[type=submit]{
    background-color: chartreuse;
    cursor: pointer; 
}


