

.formchangePassword{
    background-color: rgba(255,255,255,0.3);
    border-radius: .5em;
    border: 1px solid rgba(255,255,255);
    box-shadow: 0 0 1em .5em rgba(0,0,0,0.1);
    padding: 1em;
}

.formchangePassword h2{
    color: rgb(76, 76, 76);
    text-align: center;
    text-transform: capitalize;
    margin-bottom:1em;
}

.formchangePassword form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 15em;
}


.formchangePassword form input{
    height: 2em;
    border: none;
    outline: none;
    border-radius: 1em;
    padding-inline: 1em;
}

.formchangePassword form input[type="submit"]{
    background-color: greenyellow;
    cursor: pointer;
    transition: box-shadow 280ms linear;
}

.formchangePassword form input[type="submit"]:hover{
    background-color: greenyellow;
    box-shadow: 0 0 .5em .5em rgba(0,0,0,0.1);
}



